<header class="header">
    <div routerLink="/" class="logo">
        <img src="assets/images/logo.svg" alt="League Web UI">
    </div>
    <nav>
        <a class="nav-btn" routerLink="/schedule" routerLinkActive="active">
            <img src="assets/images/schedule.png" alt="Schedule"> Schedule
        </a>
        <a class="nav-btn" routerLink="/leaderboard" routerLinkActive="active">
            <img src="assets/images/leaderboard.png" alt="Leaderboard"> Leaderboard
        </a>
    </nav>
</header>