@import '/src/assets/variables';

.schedule-container {
  h2 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    color: $title;
    font-weight: bold;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;

  thead tr {
    height: 40px;
  }

  tbody tr {
    height: 70px;
  }

  tbody tr:nth-child(even) {
    background-color: $table-even-row;
  }

  tbody td {
    font-size: 14px;

    img {
      width: 53px !important;
      height: 37px !important;
      object-fit: cover;
    }
  }

  th {
    background-color: #e3edf3;
    color: $title;
    font-size: 14px;
  }

}

.date-column {
  width: 10%;
}

.stadium-column {
  padding-left: 60px;
}

.team-column {
  width: 25%;
}

.score-column {
  width: 10%;
  font-weight: bold;
}



/* Desktop: Mostrar todas las 5 columnas */
@media (min-width: 1000px) {

  .date-column,
  .stadium-column,
  .home-team-column,
  .score-column,
  .away-team-column {
    display: table-cell;
  }
}

/* Tablet: Ocultar la columna de fecha */
@media (max-width: 999px) and (min-width: 750px) {
  .stadium-column {
    display: none;
  }
}

/* Móvil: Ocultar la columna de fecha y estadio */
@media (max-width: 749px) {

  .stadium-column,
  .date-column {
    display: none;
  }
}