@import '/src/assets/variables';
.schedule-container {
  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #364d6f;
    font-weight: bold;
  }
}



table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;

  thead {
    tr {
      height: 40px;
    }
  }

  tr {
    height: 70px;
  }

  .team-container {
    padding: 0px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .lf {
    justify-content: left;
  }

  .ri {
    justify-content: right;
  }

}


th {
  background-color: #e3edf3;
  color: $title;
  font-size: 14px;
}

td {
  font-size: 14px;
}

td img {
  width: 53px;
  height: 37px;
  object-fit: cover;
}

tr:nth-child(even) {
  background-color: $table-even-row;
}

.position-column {
  width: 5%;
}

.team-column {
  width: 60%;
  padding: 0px 15px;
}

.mp-column,
.gf-column,
.ga-column,
.gd-column,
.points-column {
  width: 10%;
}

.points-column {
  font-weight: bold;
}
