@import '/src/assets/variables';

.leaderboard-container {
  h2 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    color: $title;
    font-weight: bold;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;

  thead tr {
    height: 40px;
  }

  tbody tr {
    height: 70px;
  }

  tbody tr:nth-child(even) {
    border-top: 1px solid #E4EDF2;
    border-bottom: 1px solid #E4EDF2;
  }

  tbody td {
    font-size: 14px;

    img {
      width: 53px !important;
      height: 37px !important;
      object-fit: cover;
    }
  }

  th {
    background-color: #e3edf3;
    color: $title;
    font-size: 14px;
  }

  tbody tr .points-column {
    font-weight: 800;
    color: $primary;
  }
}


.team-column {
  width: 50%;
  padding: 0px 15px;
}



.mp-column,
.gf-column,
.ga-column,
.gd-column,
.points-column {
  width: 10%;
  text-align: center;
  display: table-cell;
}

.points-column{
  padding-right: 10px;
}


/* Desktop: Mostrar todas las 5 columnas */
@media (min-width: 1000px) {

  .mp-column,
  .gf-column,
  .ga-column,
  .gd-column,
  .points-column {
    display: table-cell;
  }

  .gd-column {
    display: none;
  }

}

/* Tablet: Ocultar la columna de fecha */
@media (max-width: 999px) and (min-width: 750px) {

  .mp-column,
  .gf-column,
  .ga-column,
  .gd-column,
  .points-column {
    display: table-cell;
  }

  .gd-column {
    display: none;
  }

}

/* Móvil: Ocultar la columna de fecha y estadio */
@media (max-width: 749px) {

  .gf-column,
  .ga-column {
    display: none;
  }

  .gd-column {
    display: table-cell;
  }


}