.not-found {
    text-align: center;
    margin-top: 50px;
}

.not-found img {
    width: 300px;
}

.not-found a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #025FEB;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}